@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body{
	color: var(#222);
	background:var(#fff);
    font-family: "Lato",sans-serif;
}

	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	.modal.right .modal-body {
		padding: 15px 15px 80px;
		background-color: rgb(231, 226, 221);
	}


.modal.right.fade .modal-dialog {
		right: 10px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		background-color: rgb(231, 226, 221);
	}

#cat{
	padding:20px 20px 20px 20px;
}
.btn{
	font-size: 1.8rem;
	padding:0 30px;
}




.hero {
  background: url("../images/hero-bcg.jpeg")center/cover no-repeat;
  padding:15%;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.banner{
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	display: inline-block;
	padding: 2rem;
}

.banner-text{
	margin-top: 2rem;
	margin-left: 1rem;
	margin-bottom: 2rem;
	font-family: sans-serif;
	font-weight: bold;
	letter-spacing: 0.1rem;
}

.banner-btn{
     background-color:#FFA652;
     border:1px solid #FFA652;
     margin-bottom: 2rem;
     padding:1rem;
     font-size: 1rem;
     letter-spacing: 0.1rem;
}
.navbar{
	background: rgb(231, 226, 221);
	padding:12px;
	z-index:1;
}

.imgg{
	background:var(#fff);
	margin-left: auto;
	margin-right: auto;
	padding:0 1.5rem;
}

#imp{
	text-align: center;
	padding: 3rem;
	letter-spacing: 0.1rem;
	font-weight: bold;
	font-size: 2.5rem;
}

.contents{
	padding: 1rem;
	text-align: center;
	letter-spacing: 0.1rem;
}

h6{
	color:#FFA652;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background:#FFA652;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: 0.3s linear;
  transform: translateX(101%);
}


.img-container:hover .bag-btn {
  transform: translateX(0);
}



.bag-btn:hover{
  color: white;
}


