@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body{
	color: var(#222);
	background:var(#fff);
    font-family: "Lato",sans-serif;
}

.hero {
  background: url("../images/hero-bcg.jpeg")center/cover no-repeat;
  padding:10%;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.banner{
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	display: inline-block;
	padding: 2rem;
}

.banner-text{
	margin-top: 2rem;
	margin-left: 1rem;
	margin-bottom: 2rem;
	font-family: sans-serif;
	font-weight: bold;
	letter-spacing: 0.1rem;
}

.banner-btn{
     background-color:#FFA652;
     border:1px solid #FFA652;
     margin-bottom: 2rem;
     padding:1rem;
     font-size: 1rem;
     letter-spacing: 0.1rem;
}
.navbar{
	background: rgb(231, 226, 221);
	padding:20px;
	z-index:1;
}

.imgg{
	background:var(#fff);
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}


